<!-- Start Wrapper  -->
<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>
  <!-- Start InnerPage  -->
  <div id="main" class="main-toggle">
    <div class="page-heading">
      <h1>Table</h1>
      <button mat-button [matMenuTriggerFor]="menuSettings">
        <img src="./assets/images/setting-black.svg" alt="setting" />
      </button>
      <mat-menu #menuSettings="matMenu" class="user-menu">
        <button mat-menu-item>
          <span>Menu 1</span>
        </button>
        <button mat-menu-item>
          <span>Menu 2</span>
        </button>
        <button mat-menu-item>
          <span>Menu 3</span>
        </button>
      </mat-menu>
    </div>

    <div class="table-content">
      <div class="table-card">
        <h3>Title Here</h3>
        <div class="stats-table">
          <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="places">
              <th mat-header-cell *matHeaderCellDef>Marketplaces</th>
              <td mat-cell *matCellDef="let element">
                {{ element.places }}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{ element.date }}</td>
            </ng-container>

            <ng-container matColumnDef="payouts">
              <th mat-header-cell *matHeaderCellDef>Payouts</th>
              <td mat-cell *matCellDef="let element">
                {{ element.payouts }}
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <button mat-button class="{{ element.classBtn }}">
                  {{ element.status }}
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <div class="action-btn">
                  <button mat-button class="edit-button" title="Edit">
                    <img src="./assets/images/edit.svg" alt="edit" />
                  </button>
                  <button mat-button class="bin-button" title="Bin">
                    <img src="./assets/images/bin.svg" alt="bin" />
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <mat-paginator
          class="paginator"
          [length]="100"
          [pageSize]="5"
          showFirstLastButtons
          [pageSizeOptions]="[5, 10, 25]"
        >
        </mat-paginator>
      </div>
    </div>

    <div class="form-text">
      <h3>Form</h3>
    </div>
    <div class="form-div">
      <form class="form-row">
        <div class="row">
          <div class="col-12">
            <h3 class="one-column-head">One Column</h3>
          </div>
          <div class="col-12">
            <mat-form-field class="form-textfield">
              <mat-label>Textbox</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field class="form-textfield">
              <mat-label>Dropdown</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let select of selects"
                  [value]="select.name"
                >
                  {{ select.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="form-textfield">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </form>

      <form class="form-row">
        <div class="row">
          <div class="col-12">
            <h3 class="one-column-head">Two Column</h3>
          </div>
          <div class="col-md-6">
            <mat-form-field class="form-textfield">
              <mat-label>Textbox</mat-label>
              <input matInput />
            </mat-form-field>
            <mat-form-field class="form-textfield">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="form-textfield">
              <mat-label>Textbox</mat-label>
              <input matInput />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
