<!-- Start Sidebar  -->
<div id="Sidebar" class="sidenav sidenav-toggle">
  <div class="sidebar-list">
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/dashboard" title="Dashboard">
          <img src="./assets/images/dashboard.svg" alt="dashboard" />
          <span>Dashboard</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/innerpage" title="Users">
          <img src="./assets/images/user.svg" alt="users" />
          <span>Users</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="#" title="Settings">
          <img src="./assets/images/setting.svg" alt="settings" />
          <span>Settings</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="#" title="Docs">
          <img src="./assets/images/document.svg" alt="docs" />
          <span>Docs</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="#" title="Package">
          <img src="./assets/images/packages.svg" alt="package" />
          <span>Package</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="#" title="Help">
          <img src="./assets/images/help.svg" alt="help" />
          <span>Help</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="#" title="Lists">
          <img src="./assets/images/list.svg" alt="lists" />
          <span>Lists</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Sidebar  -->
