@charset "utf-8";

/*
------------------------------------------------------------
Project Name : Sample Project;
------------------------------------------------------------
*/

/* Reset 
--------------------------------------------------------------------------------------------------------*/

/* 
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* General 
--------------------------------------------------------------------------------------------------------*/
* { outline: none !important; }
.window-resizing *, body:not(.page-loaded) *{transition: none!important; }
a{transition: all 0.3s;}
html, body { min-width: 320px; min-height: 100vh; }
body { font-size: 16px; line-height: 22px; font-family: Roboto, sans-serif; -ms-overflow-style: scrollbar; -webkit-font-smoothing: subpixel-antialiased;}
.wrapper { min-height: 100vh; }
a { color: #000; text-decoration: none; }
a:hover { color: #999; text-decoration: none; }
h1, h2, h3, h4, h5, h6 { line-height: 1.2em; padding: 0 0 20px; }
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span { display: block; }
.row{margin:0;}
p { padding: 0 0 20px; }
input[type=text], input[type=email], input[type=password], textarea { -webkit-appearance: none; appearance: none;border-color: #e4e4e4; }
input[type="text"]::placeholder,
input[type="password"]::placeholder{color: #6A6C6F;}
input[type="text"]:focus,
input[type="password"]:focus {border-color: #17a2b8;box-shadow: inset 0 1px 1px rgba(63, 81, 118, 0.075), 0 0 8px rgba(63, 81, 118, 0.3);}
::-webkit-input-placeholder { color: #000; }
::-moz-placeholder { color: #000; }
:-ms-input-placeholder { color: #000; }
:-moz-placeholder { color: #000; }
::-moz-focus-inner { border: 0; }
select:-moz-focusring { color: transparent; text-shadow: 0 0 0 #000; }
option:not(:checked) { color: black; }

/* Header
--------------------------------------------------------------------------------------------------------*/
.logo { display: inline-block; }
.logo>img { display: block; }

/* Login
--------------------------------------------------------------------------------------------------------*/
.main-content{display: flex;min-height: 100vh;align-items: center;padding: 28px 0;}
.login-right {margin-left: auto;margin-right: 201px;padding: 90px 149px;position: relative;background-color: #35295c;box-shadow: -9px 0 27px rgba(45,45,45,0.19);}
.login-header img{width: 266px;margin-bottom: 50px;}
.login-background{background-image:url('./assets/images/login-background.jpg');background-size: cover;background-repeat: no-repeat;position: fixed;top: 0;right: 587px;left: 0;bottom: 0;box-shadow: 0 0 10px rgba(0,0,0,0.3);}
.form-textfield{width: 100%;}
.login-middle button{padding: 0 44px;color:#534192;font-size: 16px;height: 48px;border-color:#fff;background-color:#fff;text-transform: uppercase;border-radius: 2px;}
.login-middle button:hover {box-shadow: none !important; background-color: rgba(255, 255, 255, 0.8);}
.login-form h3 {font-size: 40px;text-transform: uppercase;color: #fff;}
.login-form .mat-form-field-appearance-legacy .mat-form-field-label{color:rgba(255,255,255,0.5);font-size: 16px;}
.login-form input.mat-input-element{color: #fff;}
.login-form .MuiFormControl-root .MuiFormLabel-root.mat-focused{color:rgba(255,255,255,0.5);}
.login-form .mat-form-field .mat-form-field-underline{border-bottom: 1px solid rgba(255,255,255,0.5);background-color:none;}
.login-form .mat-form-field{margin-bottom: 11px;}
.login-form .mat-form-field.mat-focused .mat-form-field-ripple {border-bottom: 2px solid rgba(255,255,255,0.5);background-color: rgba(255,255,255,0.5) !important;}
.login-middle{display: flex;align-items: center;justify-content: space-between;}
.login-middle a {color: #fff;font-size: 14px;}
.login-middle a:hover {color: #ced4da;}
.signup-account {margin-top: 32px;font-size: 16px;color:#fff;}
.signup-account a {color: #fff;font-weight: bold;padding-left: 8px;}
.signup-account a:hover{color:#ced4da;}

/* Toolbar
--------------------------------------------------------------------------------------------------------*/
.navbar{color: white;height: 87px;margin-left: auto;box-shadow: 0 -2px 8px rgba(0,0,0,0.03);background: #35295b;display: flex;align-items: center;justify-content: space-between;position: fixed;top: 0;left: 0;right: 0;z-index: 1030;}
.vertical-logo{height: 55px;padding: 2px 16px;}
.notification-logo img{height: 20px;width: 20px;display: block;margin: 0 auto;}
.notification-logo .mat-button-wrapper{display: block;}
.horizontal-logo{height: 40px;display: none;}
.founder-logo img{height: 48px;border-radius: 100%;width: 48px;margin: 0 auto;}
button.founder-logo,button.notification-logo{min-width: auto;border-radius: 50px;}
.founder-name{font-size: 14px;padding-right: 11px;}
.toolbar-right{display: flex;}
.toolbar-right .founder-logo{padding: 5px 20px;}
.toolbar-left{display: flex;}
.toolbar-left .toggle-nav{display: none;}
.notifications.mat-menu-panel{top: 7.5px;position: relative;} 
.notification-dropdown.mat-menu-item{height: 100%;line-height: normal;display: flex;padding: 10px;} 
.notification-dropdown img{height: 57px;border-radius: 100%;}
.notification-heading{background-color: #F3F6FF;color:#0057A1;font-size: 13px;font-weight: bold;text-transform: uppercase;padding: 10px 10px 10px 20px;}
.notification-content{padding: 8px 2px 0 12px;white-space: normal;}
.notification-dropdown .notification-content h3{font-size: 13px;font-weight: 600;color: #666666;padding: 0 0 8px;line-height: normal;}
.notification-dropdown .notification-content span{font-size: 12px;color: #A2A2A2;}
.notifications .view-all{text-align: center;font-size: 13px;color: #A2A2A2;margin-top: 5px;}
.view-all .show-btn{text-transform: capitalize;border-radius: 50px;min-width: auto;}
.view-all img{position: relative;left: 4px;height: 15px;}
.user-notification.mat-menu-panel{width: 188px;top: 15.5px;position: relative;}
.profile-name  img{height: 18px;}
.profile-name.mat-menu-item{line-height: 20px;}
.profile-name span{font-size: 13px;color:#666666;padding-left: 18px;vertical-align: top;}

/* sidebar
--------------------------------------------------------------------------------------------------------*/
.sidebar-list span{font-size: 12px;color: #fff;display: flex;justify-content: center;}
.sidebar-list li img{height: 28px;display: block;margin: 0 auto;}
.sidebar-list li{border-bottom: 1px solid rgba(255,255,255,0.07);border-top: 1px solid rgba(255,255,255,0.07);}
.sidebar-list ul li a{padding: 20px 0;display: block;}
.sidebar-list ul li:hover,.sidebar-list ul li:focus,.sidebar-list li.active{background-color: #fb5561;}
.sidenav {height: 100%;overflow: auto;margin-top: 87px;width: 114px;position: fixed;z-index: 3;top: 0;left: 0;background-color: #34285c;transition: 0.5s;box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);}

#main{margin-left: 114px;transition:all 0.5s;padding: 112px 30px 0 30px;background-color: #F0F0F2;height: 100%;}
.toggle-nav .main-toggle { margin-left: 0px !important }
.toggle-nav .sidenav-toggle{left: -114px;}
.toggle-nav .display-block-toggle { display: block !important; }

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.page-heading{display: flex; justify-content: space-between; align-items: center;padding-bottom: 10px;}
.page-heading h1{font-size: 26px;font-weight: bold; color:#35295C;padding: 0;}
.page-heading .mat-button{border-radius: 100px; padding: 3px 10px; min-width: auto;}
.page-heading img{height: 24px;}
.content-box{padding: 36px 30px 30px 30px; border-radius: 4px;height: 100%;white-space: nowrap;}
.content-box:hover{ box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.1);}
.content-box h1{font-size: 34px;line-height: 34px; color: #ffffff; font-weight: bold;padding: 0;}
.content-box h3{padding:10px 0 0; padding-bottom:32px;font-size: 16px; color: #ffffff;}
.content-box img{height: 32px; margin-left:auto;display: block; margin-right: 0;}
.visitors{background-color:#7976EF ;}
.page-view{background-color:#FF85BF ;}
.new-registration{background-color:#3CD57F ;}
.bounce-rate{background-color:#348BF3 ;}
.visits{background-color:#FF5151 ;}
.main-toggle .col-xl, .main-toggle  .col-lg-6,.main-toggle  .col-sm-6,.main-toggle  .col-md-6,.main-toggle  .col-md-12,.main-toggle .col-xl-9,.main-toggle .col-xl-3{padding: 10px;}
.content-box:hover,.sales-stats:hover{box-shadow: 2px 2px 8px 1px rgba(0,0,0,0.1);}

.stats-row{ margin-bottom: -10px;margin-top: -10px;}
.main-toggle .row{margin-right: -10px; margin-left: -10px;}
.sales-stats{display: flex;flex-direction: column;align-items: center;background-color: #fff;padding: 20px 0 30px 0;border-radius: 4px;height: 100%;}
.sales-stats div{border-radius: 100%;padding: 23px 26px;}
.sales-stats div img{height: 24px;width: 24px;}
.sales-stats span{font-size: 14px;padding: 12px 0 8px;color: #666666;}
.sales-stats h3{font-size:28px;font-weight: bold;color: #333333;padding: 0;line-height: 0.8em;}
.sales-color{background-color: rgba(121,117,239,0.16);}
.profit-color{background-color: rgba(255,133,191,0.16);}
.products-color{background-color: rgba(59,213,127,0.16);}
.users-color{background-color: rgba(247,147,0,0.16);}
.graph-heading{display: flex; justify-content: space-between; align-items: center; padding-bottom: 20px;}
.graph-heading h3{ color:#333333;font-size: 20px;padding: 2px;line-height: 12px;}
.graph-heading img{height:18px;display:block;width: 18px;margin: 0 auto;}
.graph-heading .mat-button{padding: 7px;border-radius: 50px;min-width: auto;}
.sales-graph{padding: 20px;background-color: #fff; height: 100%; display: flex;flex-direction: column;border-radius: 4px;}
.sales-graph img{max-width: 100%;}
.graph-image {margin-bottom: 0 ;max-width: 100%;padding-top: 30px;}

.table-content .mat-progress-bar-fill::after {background-color: #3bd57f;}
.table-content .progress-card,.table-content .table-card{padding: 16px;height: 100%;border-radius: 4px;box-shadow: 0 0 0 rgba(0,0,0,0.5);background-color: #fff;}
.table-content .mat-progress-bar-buffer {background-color: #e9e9e9;}
.table-content h3{font-size: 20px;color: #333333;}
.table-card h3{padding: 0 0 2px;}
.progress-bar{padding-bottom: 25px;}
.progress-text{padding: 0 0 10px;font-size: 14px;color: #666666;}
table {width: 100%;}
.stats-table{width: 100%;overflow: auto;}
.stats-table .action-btn{display: flex;}
.stats-table th.mat-header-cell{font-size: 14px;padding: 15px;}
.stats-table th.mat-header-cell:first-of-type{padding-left: 5px;}
.stats-table .mat-cell:first-of-type{padding-left: 8px;}
.stats-table tr.mat-header-row {height: 34px;}
.stats-table tr.mat-row,.stats-table tr.mat-footer-row {height: 49px;}
.stats-table td.mat-cell{padding:8px 15px 8px 15px;}
button.edit-button,button.bin-button{min-width: auto;padding:7px;border-radius: 50px;}
.edit-button img , .bin-button img{height: 16px;width: 16px;display: block;margin: 0 auto;}
button.edit-button .mat-button-wrapper,button.bin-button .mat-button-wrapper{display: block;}
button.btn-active{background-color:rgba(49,196,114,0.14);color: #31c472;font-size: 13px;min-width: 75px;text-align: center;padding: 0 5px;line-height: 24px;text-overflow: ellipsis;}
button.btn-pending{background-color: rgba(248,143,0,0.14);color: #f88600;font-size: 13px;min-width: 75px;text-align: center;padding: 0 5px;line-height: 24px;text-overflow: ellipsis;}
button.btn-declined{background-color: rgba(252,86,97,0.14);color: #fc5661;font-size: 13px;min-width: 75px;text-align: center;padding: 0 5px;line-height: 24px;text-overflow: ellipsis;}
.paginator.mat-paginator{margin-bottom: -10px;}
.paginator .mat-form-field.mat-focused .mat-form-field-ripple {background-color: #000000;}

/* InnerPage
--------------------------------------------------------------------------------------------------------*/


/* Footer
--------------------------------------------------------------------------------------------------------*/
.copyright {font-size: 12px;color: #b0b0b0;text-align: right;padding: 12px 0 12px 0;}

/* Responsive Media Queries
--------------------------------------------------------------------------------------------------------*/
@media (max-width:1199px) { 
/* Login
 --------------------------------------------------------------------------------------------------------*/
.login-right{background-color: rgba(53,41,92,0.9);margin: 0;padding: 90px;}
.login-background{right: 50%;}
.main-content{justify-content: center;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.notifications.mat-menu-panel{height: 400px;overflow-y: scroll;}
}

@media (max-width:991px) {
/* Login
--------------------------------------------------------------------------------------------------------*/
.login-background{right: 0;}
.login-right{padding: 70px;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.notifications.mat-menu-panel{height: 370px;overflow-y: scroll;}
}

@media (max-width:767px) {
/* Dashboard
--------------------------------------------------------------------------------------------------------*/
#main { margin-left: 0px }
.sidenav { left: -114px;}
.toggle-nav .sidenav-toggle { left: 0;overflow-x: inherit;}
.toggle-nav #overlay { position: fixed;display: none;width: 100%;height: 100%;top: 0;left: 0px;right: 0;bottom: 0;background-color: rgba(0, 0, 0, 0.5);z-index:2;cursor: pointer;transition: all 0.3s; }
.horizontal-logo{display: block;} 
.toolbar-left .toggle-nav{display: block; margin-right: 0; margin-left: 10px;}
.vertical-logo{display: none;}
.notifications.mat-menu-panel{height: 340px;overflow-y: scroll;}
}

@media (max-width:575px) {
/* Login
--------------------------------------------------------------------------------------------------------*/ 
.login-right{padding: 50px 110px;}
.main-content{padding: 0;}

/* Dashboard
--------------------------------------------------------------------------------------------------------*/
.founder-logo .founder-name{display: none;}
.notifications.mat-menu-panel{height: 300px;}
.cdk-overlay-pane{right: 2px !important;}
#main{padding-left: 15px;padding-right: 15px;}
.horizontal-logo{height: 35px;}
.paginator .mat-paginator-container {flex-direction: column;}
.paginator .mat-paginator-range-label {display: contents;}
}

@media (max-width:375px) {
/* Login
--------------------------------------------------------------------------------------------------------*/
.login-right {padding: 50px 25px;}

}

@media (max-width:320px) {

}
